<div class="row" >
    <div class="col-sm-12">
        <div class="col-sm-5">
            <br>
            <label>SEARCH BY TITLE - ({{(posts | filter: {title: search} | filter: {userId: userNameId} : true).length}})</label>
            <input type="text" class="form-control input-lg"
                   id="search"
                   ng-model="search"
                   placeholder="search by title">
        </div>
    </div>
    <div class="text-left posts-div"
         ng-controller="CommentsCtrl"
         dir-paginate="x in posts | filter: {title: search} | filter: {userId: userNameId} : true | itemsPerPage: 5">
        <h2>{{x.title}}</h2>
        <h4 >{{x.body}}</h4>
        <div ng-repeat="y in users | filter: {id: x.userId }: true ">
            <h4><b>{{y.username}}</b></h4>
        </div>
        <span>
            <a ng-click="commentsShow = !commentsShow">
                Show / Hide comments ({{(comments | filter: {postId: x.id} : true).length}})
            </a>
            &nbsp;&nbsp;&nbsp;
            <a ng-click="showAddComment = !showAddComment">Add Comment</a>
        </span>
        <comment-form ng-show="showAddComment"></comment-form>
        <div  class="col-sm-12 shadow-div"
              ng-repeat="z in comments | filter: {postId: x.id}: true"
              ng-show="commentsShow">
            <h4>{{z.email}}</h4>
            <h5><b>{{z.name}}</b></h5>
            <h5>{{z.body}}</h5>
        </div>
    </div>
    <div>
        <dir-pagination-controls
            direction-links="true"
            boundary-links="true"
            class="posts-div"></dir-pagination-controls>
    </div>
</div>