<div class="shadow-div">
    <h1 >ID : {{selected.id}}</h1>
    <h4><b>Name: </b>{{selected.name}}</h4>
    <h4><b>User Name: </b>{{selected.username}}</h4>
    <h4><b>Email: </b>{{selected.email}}</h4>
    <h4><b>Phone: </b>{{selected.phone}}</h4>
    <h4><b>Website: </b>{{selected.website}}</h4>
    <h4><b>Address: </b>{{selected.address.street + ' ' + selected.address.suite}}</h4>
    <h4><b>Zip Code: </b>{{selected.address.zipcode}}</h4>
    <h4><b>City: </b>{{selected.address.city }}</h4>
    <h4><b>Geo: </b>Lat : {{selected.address.geo.lat}} Lng : {{selected.address.geo.lng}}</h4>
</div>